<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Issues"
            id="IssuesList">
      </category>
      <view
            name="Issues View"
            icon="icons/sample.gif"
            category="IssuesList"
            class="issueslist.views.IssuesView"
            id="issueslist.views.IssuesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="issueslist.views.IssuesView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
